version: "3"
services:
  vartta-api:
    build: .
    ports:
      - 5003:2000
    restart: always
    networks:
      - default

networks:
  default:
    external:
      name: 'elasticsearch_elastic'
